<%= form_with(model: state, local: true) do |form| %>
  <% if state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state.errors.count, "error") %> prohibited this state from being saved:</h2>
      <ul>
      <% state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>
  <div class="field">
    <%= form.label :country_id, "Select Country" %>
    <%= form.collection_select(:country_id, @countries, :id, :name) %>
  </div>
  <%= form.fields_for :municipalities, form.object.municipalities.where(active: true) do | municipality | %>
  <div class="">
    <div class="fields">
      <%= municipality.label :name, "Municipality" %>
      <%= municipality.text_field :name, class:"form-control" %>
      <%= municipality.check_box :_destroy %> Delete
    </div>
  </div>
  <% end %>
  <%= form.fields_for :municipalities, form.object.municipalities.last do | municipality | %>
  <div class="">
    <div class="fields">
      <br>
      <%= municipality.label :name, "New Municipality" %>
      <%= municipality.text_field :name, class:"form-control" %>
    </div>
  </div>
  <% end %>
  <div class="actions">
    <br>
    <%= form.submit%>
  </div>
<% end %>
