<p id="notice"><%= notice %></p>

<h1>States</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='states'>
    <% @states.each do |state| %>
      <tr>
        <td><%= state %></td>
        <td><%= country=Country.where(id: state.country_id).pluck(:name).to_sentence %></td>
        <td><%= link_to 'Show', state %></td>
        <td><%= link_to 'Edit', edit_state_path(state) %></td>
        <td><%= link_to 'Destroy', state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h2>Inactive States</h2>
<table>
  <tbody>
    <%@removed_states.each do |state|%>
    <tr>
      <td><%=state%></td>
    </tr>
    <%end%>
  </tbody>
</table>
<br>

<%= link_to 'New State', new_state_path %> |
<%= link_to 'Back', root_path %>
<br><br><br>
<h2>New State</h2>
<div id="state">
<label>name</label>
<%=text_field(:state, :name)%>
<label>country</label>
<%= collection_select(:state, :country_id, Country.all, :id, :name)%>
<div class="actions">
  <button onclick="add_state();" type="button" name="button">Add new state</button>
</div>
</div>


<script type="text/javascript">
  function add_state(){
    state=$('div[id="state"] input,select')
    name=state[0].value
    country=state[1].value
    $.ajax(
      {
        type:'put',
        url:'/new_state',
        data:{
          name:name,
          country:country
        },
        success:function(state)
        {
          var $row=$(
            '<tr>'+
            '<td>'+state.name+'</td>'+
            '<td>'+state.country.name+'</td>'+
            '<td>'+'<a href="states/'+state.id+'">'+'Show'+'</a>'+'</td>'+
            '<td>'+'<a href="states/'+state.id+'/edit">'+'Edit'+'</a>'+'</td>'+
            '<td>'+'<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="states/'+state.id+'">'+'Destroy'+'</a>'+'</td>'+
            '</tr>'
          );
          $("#states").append($row);
        }
      });
    }
</script>
