<% provide(:title,"States") %>
<p id="notice"><%= notice %></p>
<h1><i class="far fa-map"></i>  States</h1>
<button type="button" name="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#new">New State</button>
<br>
<%=render 'states/importXLSX'%>
<ul class="nav nav-tabs">
  <br>
  <li class="active"><a data-toggle="tab" href="#active">Active</a></li>
  <li><a data-toggle="tab" href="#inactive">Inactive</a></li>
</ul>
<div class="tab-content">
<div id="active" class="tab-pane fade in active">

<table class="table active">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th colspan="3" class="center">Actions</th>
    </tr>
  </thead>
  <tbody id='states'>
    <% @states.each do |state| %>
    <% country=Country.where(id: state.country_id, active:true).pluck(:name).to_sentence %>
    <%if country!="" %>
      <tr>
        <td><%= state %></td>
        <td><%= country %></td>
        <td><%= link_to raw("<i class='fas fa-search'></i>"),  state, class:"btn btn-xs btn-block", title: "Show" %></td>
        <td><%= link_to raw("<i class='fas fa-pencil-alt'></i>"),  edit_state_path(state), class:"btn btn-xs btn-block", title: "Edit"  %></td>
        <td><%= link_to raw("<i class='fas fa-trash'></i>"),  state_active_path(state), method: :put, class:"btn btn-xs btn-block", title: "Remove"  %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table >
</div>
<div id="inactive" class="tab-pane fade">
  <table class="table inactive">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2" class="center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%@removed_states.each do |state|%>
      <%municipalityWarning=""%>
      <%municipalities=(Municipality.where(state_id:state.id).pluck(:name))%>
      <%if municipalities.length > 0%>
      <%municipalityWarning='Deleting this state will also delete these municipalities:'+"\n"%>
      <%municipalities.each do |municipality|%>
      <%municipalityWarning+="\n   "+municipality%>
      <%end%>
      <%end%>
      <%message='About to delete the state '+state.name+' Are you sure?'+"\n\n"+municipalityWarning%>
      <tr>
        <td><%=state%></td>
        <td><%= link_to raw("<i class='fas fa-undo-alt'></i>"), state_active_path(state), method: :put, class:"btn btn-xs btn-block", title: "Restore"%></td>
        <td><%= link_to raw("<i class='fas fa-unlink'></i>"), state, method: :delete, data: { confirm: message }, class:"btn btn-xs btn-block", title: "Remove" %></td>
      </tr>
      <%end%>
      <% @states.each do |state| %>
      <%municipalityWarning=""%>
      <%municipalities=(Municipality.where(state_id:state.id).pluck(:name))%>
      <%if municipalities.length > 0%>
      <%municipalityWarning='Deleting this state will also delete these municipalities:'+"\n"%>
      <%municipalities.each do |municipality|%>
      <%municipalityWarning+="\n   "+municipality%>
      <%end%>
      <%end%>
      <%message='About to delete the state '+state.name+' Are you sure?'+"\n\n"+municipalityWarning%>
      <% country=Country.where(id: state.country_id, active:false).pluck(:name).to_sentence %>
      <%if country!="" %>
        <tr>
          <td><%= state %></td>
          <td><%= link_to raw("<i class='fas fa-undo-alt'></i>"), state_active_path(state), method: :put, class:"btn btn-xs btn-block", title: "Restore"%></td>
          <td><%= link_to raw("<i class='fas fa-unlink'></i>"), state, method: :delete, data: { confirm: message }, class:"btn btn-xs btn-block", title: "Remove" %></td>
        </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
</div>
</div>
<br>

<%= link_to 'New State', new_state_path, class: 'btn btn-xs'%> |
<%= link_to 'Back', root_path, class: 'btn btn-xs' %> |
<%= link_to 'Excel', download_states_path ,target: '_blank', class: 'btn btn-xs' %>
<%=render 'states/modal_new'%>
