<% provide(:title,"States") %>
<p id="notice"><%= notice %></p>
<h1><i class="far fa-map"></i>  States</h1>
<%=render 'shared/modal_new', controller: 'state', url: add_state_path %>
<br>
<%=render 'shared/importXLSX', controller:'states'%>
<ul class="nav nav-tabs">
  <br>
  <li class="active"><a data-toggle="tab" href="#active">Active</a></li>
  <li><a data-toggle="tab" href="#inactive">Inactive</a></li>
</ul>
<div class="tab-content">
<div id="active" class="tab-pane fade in active">

<table class="table active">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th colspan="3" class="center">Actions</th>
    </tr>
  </thead>
  <tbody id='states'>
    <% @states.each do |state| %>
      <%if country(state)!="" %>
          <%=render 'active_tr', state: state%>
      <%end%>
    <% end %>
  </tbody>
</table >
</div>
<div id="inactive" class="tab-pane fade">
  <table class="table inactive">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2" class="center">Actions</th>
      </tr>
    </thead>
    <tbody id="inactive_states">
      <%@removed_states.each do |state|%>
        <%= render 'inactive_tr', state:state%>
      <%end%>
      <% @states.each do |state| %>
      <%if country(state)=="" %>
        <%= render 'inactive_tr', state:state%>
        <%end%>
      <% end %>
    </tbody>
  </table>
</div>
</div>
<br>

<%= link_to 'New State', new_state_path, class: 'btn btn-xs'%> |
<%= link_to 'Back', root_path, class: 'btn btn-xs' %> |
<%= link_to 'Excel', download_states_path ,target: '_blank', class: 'btn btn-xs' %>
