<% provide(:title,@state.name) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<p>
  <strong>Country:</strong>
  <%country=Country.where(id: @state.country_id).pluck(:name) %>
  <%= country[0] %>
</p>
<br>
<h3>Municipalities</h3>
<%if @state.municipalities.any?%>
<ul>
  <%@state.municipalities.each do |municipality|%>
  <%if municipality.active%>
  <li><%=link_to municipality.name, municipality, class: "btn btn-xs"%></li>
  <%end%>
  <%end%>
</ul>
<%else%>
<p>No Municipalities registered</p>
<%end%>
<br>
<%= link_to 'Edit', edit_state_path(@state), class: "btn btn-xs" %> |
<%= link_to 'Back', states_path, class: "btn btn-xs" %>
