<tr id="tr_<%=municipality.id%>">
  <td><%= municipality %></td>
  <td><%= state(municipality) %></td>
  <td><%= link_to raw("<i class='fas fa-search'></i>"), municipality, class:"btn btn-xs btn-block", title: "Show" %></td>
  <td><%= link_to raw("<i class='fas fa-pencil-alt'></i>"), edit_municipality_path(municipality), class:"btn btn-xs btn-block", title: "Edit"  %></td>
  <td><%= link_to raw("<i class='fas fa-trash'></i>"), switch_active_municipality_path(municipality), method: :put, class:"btn btn-xs btn-block", title: "Remove", remote: true  %></td>
</tr>
