<% provide(:title,"Municipalities") %>
<p id="notice"><%= notice %></p>
<h1><i class="far fa-building"></i>  Municipalities</h1>
<button type="button" name="button" class="btn btn-info" data-toggle="modal" data-target="#new">New Municipality</button>
<ul class="nav nav-tabs">
  <br>
  <li class="active"><a data-toggle="tab" href="#active">Active</a></li>
  <li><a data-toggle="tab" href="#inactive">Inactive</a></li>
</ul>
<div class="tab-content">
<div id="active" class="tab-pane fade in active">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>State</th>
        <th colspan="3" class="center">Actions</th>
      </tr>
    </thead>

    <tbody id="municipalities">
      <% @municipalities.each do |municipality| %>
      <%state=State.where(id:municipality.state_id,active:true,country_id:Country.where(active:true).pluck(:id)).pluck(:name).to_sentence%>
      <%if state!=""%>
      <tr>
        <td><%= municipality %></td>
        <td><%= state %></td>
        <td><%= link_to raw("<i class='fas fa-search'></i>"), municipality, class:"btn btn-xs btn-block", title: "Show" %></td>
        <td><%= link_to raw("<i class='fas fa-pencil-alt'></i>"), edit_municipality_path(municipality), class:"btn btn-xs btn-block", title: "Edit"  %></td>
        <td><%= link_to raw("<i class='fas fa-trash'></i>"), municipality_active_url(municipality), method: :put, class:"btn btn-xs btn-block", title: "Remove"  %></td>
      </tr>
      <%end%>
      <% end %>
    </tbody>
  </table>
</div>
<div id="inactive" class="tab-pane fade">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2" class="center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @removed_municipalities.each do |municipality| %>
      <%message='About to delete the municipality '+municipality.name+' Are you sure?'%>
      <tr>
        <td><%=municipality%></td>
        <td><%= link_to raw("<i class='fas fa-undo-alt'></i>"), municipality_active_url(municipality), method: :put, class:"btn btn-xs btn-block", title: "Restore" %></td>
        <td><%= link_to raw("<i class='fas fa-unlink'></i>"), municipality, method: :delete, data: { confirm: message }, class:"btn btn-xs btn-block", title: "Remove" %></td>
      </tr>
      <%end%>
      <% @municipalities.each do |municipality| %>
      <%message='About to delete the municipality '+municipality.name+' Are you sure?'%>
      <%state=State.where(id:municipality.state_id,active:true,country_id:Country.where(active:true).pluck(:id)).pluck(:name).to_sentence%>
      <%if state==""%>
      <tr>
        <td><%= municipality %></td>
        <td><%= link_to raw("<i class='fas fa-undo-alt'></i>"), municipality_active_url(municipality), method: :put, class:"btn btn-xs btn-block", title: "Restore" %></td>
        <td><%= link_to raw("<i class='fas fa-unlink'></i>"), municipality, method: :delete, data: { confirm: message }, class:"btn btn-xs btn-block", title: "Remove" %></td>
      </tr>
      <%end%>
      <% end %>
    </tbody>
  </table>
</div>
</div>

<br>

<%= link_to 'New Municipality', new_municipality_path, class: 'btn btn-xs' %> |
<%= link_to 'Back', root_path, class: 'btn btn-xs' %> |
<%= link_to 'Excel', download_municipalities_path ,target: '_blank', class: 'btn btn-xs' %>
<%=render 'municipalities/modal_new'%>
