<% provide(:title,"Municipalities") %>
<p id="notice"><%= notice %></p>
<h1><i class="far fa-building"></i>  Municipalities</h1>
<%=render 'shared/modal_new', controller: 'municipality', url: add_municipality_path %>
<br>
<%=render 'shared/importXLSX', controller:'municipalities'%>
<ul class="nav nav-tabs">
  <br>
  <li class="active"><a data-toggle="tab" href="#active">Active</a></li>
  <li><a data-toggle="tab" href="#inactive">Inactive</a></li>
</ul>
<div class="tab-content">
<div id="active" class="tab-pane fade in active">
  <table class="table active">
    <thead>
      <tr>
        <th>Name</th>
        <th>State</th>
        <th colspan="3" class="center">Actions</th>
      </tr>
    </thead>

    <tbody id="municipalities">
      <% @municipalities.each do |municipality| %>
      <%if state(municipality) !=""%>
      <%=render 'active_tr', municipality: municipality%>
      <%end%>
      <% end %>
    </tbody>
  </table>
</div>
<div id="inactive" class="tab-pane fade">
  <table class="table inactive">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2" class="center">Actions</th>
      </tr>
    </thead>
    <tbody id="inactive_municipalities">
      <% @removed_municipalities.each do |municipality| %>
      <%= render 'inactive_tr', municipality: municipality%>
      <%end%>
      <% @municipalities.each do |municipality| %>
      <%if state(municipality) == ""%>
      <%= render 'inactive_tr', municipality: municipality%>
      <%end%>
      <% end %>
    </tbody>
  </table>
</div>
</div>

<br>

<%= link_to 'New Municipality', new_municipality_path, class: 'btn btn-xs' %> |
<%= link_to 'Back', root_path, class: 'btn btn-xs' %> |
<%= link_to 'Excel', download_municipalities_path ,target: '_blank', class: 'btn btn-xs' %>
