<% provide(:title,"Countries") %>
<p id="notice"><%= notice %></p>
<h1><i class="far fa-flag"></i>  Countries</h1>
<button type="button" name="button" class="btn btn-info" data-toggle="modal" data-target="#new">New Country</button>
<ul class="nav nav-tabs">
  <br>
  <li class="active"><a data-toggle="tab" href="#active">Active</a></li>
  <li><a data-toggle="tab" href="#inactive">Inactive</a></li>
</ul>

<div class="tab-content">
  <div id="active" class="tab-pane fade in active">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="countries">
    <% @countries.each do |country| %>
      <tr>
        <td><%= country %></td>
        <td><%= link_to raw("<i class='fas fa-search'></i>"), country, class:"btn btn-xs", title: "Show"%></td>
        <td><%= link_to raw("<i class='fas fa-pencil-alt'></i>"), edit_country_path(country), class:"btn btn-xs", title: "Edit" %></td>
        <td><%= link_to raw("<i class='fas fa-trash'></i>"), country_active_path(country), method: :put, data: { confirm: 'Are you sure?' }, class:"btn btn-xs", title: "Remove" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div id="inactive" class="tab-pane fade">
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @removed_Countries.each do |country| %>
    <%stateWarning=""%>
    <%states=(State.where(country_id:country.id).pluck(:name))%>
    <%if states.length > 0%>
      <%stateWarning='Deleting this country will also delete these states:'+"\n"%>
      <%states.each do |state|%>
        <%stateWarning+="\n   "+state%>
      <%end%>
      <%stateWarning+="\n\nAnd their respective municipalities."%>
    <%end%>
    <%message='About to delete the country '+country.name+' Are you sure?'+"\n\n"+stateWarning%>
      <tr>
        <td><%= country%></td>
        <td><%= link_to raw("<i class='fas fa-undo-alt'></i>"),country_active_path(country), method: :put, class:"btn btn-xs", title: "Restore" %></td>
        <td><%= link_to raw("<i class='fas fa-unlink'></i>"), country, method: :delete, data: { confirm: message }, class:"btn btn-xs", title: "Remove" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>
<%= link_to 'New Country', new_country_path, class: 'btn btn-xs'%> |
<%= link_to 'Back', root_path, class: 'btn btn-xs' %> |
<%= link_to 'Excel', download_countries_path ,target: '_blank', class: 'btn btn-xs' %>
<%=render 'countries/modal_new'%>
