<% provide(:title,"Countries") %>
<p id="notice"><%= notice %></p>
<h1><i class="far fa-flag"></i>  Countries</h1>
<%=render 'shared/modal_new', controller: 'country'%>
<br>
<%=render 'shared/importXLSX', controller: 'countries'%>
<ul class="nav nav-tabs">
  <br>
  <li class="active"><a data-toggle="tab" href="#active">Active</a></li>
  <li><a data-toggle="tab" href="#inactive">Inactive</a></li>
</ul>

<div class="tab-content">
  <div id="active" class="tab-pane fade in active">
<table class="table active">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3" class="center">Actions</th>
    </tr>
  </thead>
  <tbody id="countries">
    <% @countries.each do |country| %>
      <%=render 'active_tr',country: country%>
    <% end %>
  </tbody>
</table>
</div>
<div id="inactive" class="tab-pane fade">
<table class="table inactive">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2" class="center">Actions</th>
    </tr>
  </thead>
  <tbody id="inactive_countries">
    <% @removed_Countries.each do |country| %>
      <%=render 'inactive_tr', country: country%>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>
<%= link_to 'New Country', new_country_path, class: 'btn btn-xs'%> |
<%= link_to 'Back', root_path, class: 'btn btn-xs' %> |
<%= link_to 'Excel', download_countries_path ,target: '_blank', class: 'btn btn-xs' %>
