<% provide(:title,@country.name) %>
<p id="notice"><%= notice %></p>
<h2>
  <strong>Name:  </strong>
  <%= @country.name %>
</h2>
<h3>States</h3>
<%if @country.states.any?%>
<ul>
  <%@country.states.each do |states|%>
    <%if states.active%>
      <li><%=link_to states.name, states, class: "btn btn-xs"%></li>
    <%end%>
  <%end%>
</ul>
<%else%>
<p>No Estates registered</p>
<%end%>
<br>
<%= link_to 'Edit', edit_country_path(@country), class: "btn btn-xs" %> |
<%= link_to 'Back', countries_path, class: "btn btn-xs" %>
